.modal-confirmation .modal-content  {
  margin-top: -20px;
}

jb-confirm {
  .modal-header, .modal-body, .modal-footer {
    padding: 25px;
    p { margin-bottom: 0; }
    button.close {
      outline: none;
    }
  }
}
