.modal-header {
  flex-direction: column;
  .modal-header--title {
    width: 100%;
    display: flex;
    button.close {
      outline: none;
      padding: 0;
    }
  }
  .modal-header--description {
    color: $primary-color;
    font-style: italic;
    margin-bottom: 0;
  }
  .modal-header .close {
    margin-top: -2px;
  }
}
