@import '../../scss/variables';

.inline-code {
  // font-family: "Source Code Pro";
  font-family: monospace;
  color: black;
  font-weight: bold;
  background: #e6e6e6;
  padding: 2px 7px;
  margin: 0 5px;
}

.index-table {
  width: 100%;
  background: gray;
  border-radius: 3px;
  border-spacing: 1px;
  border-collapse: separate;
  thead {
    background: lighten($primary-color, 20%);
  }
  tbody {
    background: antiquewhite;
    tr {
      cursor: pointer;
      &:hover { background: rgba($primary-color, 0.3); }
    }
  }
  th, td {
    padding: 6px 15px 2px;
    pre {
      margin: 0;
      margin-top: 3px;
    }
  }
}